@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: 'Lato', sans-serif !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
.logo{
width: 6vw!important;
}
.logo1{
width: 6vw !important;
}
.nav-link{
    color: #050708 !important;
    font-size: 1.2vw;
}
.btn-navbar{
    background-color: #FAC13A !important;
    color:#fff;
    width: 10vw;
    font-size: 1.2vw;
}
.cool-link {
  display: inline-block;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #050708;
  transition: width .5s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .5s;
}
.btn-navbar:hover{
    background-color: #FAC13A !important;
    color:#fff;
    width: 10vw;
    font-size: 1.2vw;
    text-decoration: none;
}
.img_carousel{
    width: 100vw;
    height: 41.5vw;
}
.nav-link{
  cursor: pointer;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;

}
.carousel-caption a {
	text-transform: uppercase;
	background: #c40000;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
    border-radius: 6px;
}
.carousel_para{
    font-size: 2.3vw;
    font-weight: 800;
    margin-bottom: 7rem !important;
    font-family: 'Lato';
    position: absolute;
bottom: 90%;
width: 65%;
margin: 0 auto;
}
.carousel_items_img{
    margin-top: 5vw;
    background: url(../images/hero_lorry.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    min-height: 100%;
    position: relative;
}
.carousel-caption{
    position: relative;
}
.loop_background{
position: absolute;
bottom: -20%;
margin: 0 auto;
left: 30%;
width: 65%;
}
.navbar{
    background-color: white !important;
    min-height:5vw;
}
.navbar-nav a {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: red;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: red;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
.main{
  overflow-x: hidden;
}


/* ABOUT */
.about_head{
    color: #D9AF2B;
    font-size: 2.5vw;
    font-weight: 900;
}
.about_para{
    font-size: 1.1vw;
    width: 100%;
    text-align: justify;
    color:#050708;
}
.about_img{
    width: 20vw;
    height: 20vw;
}
.why_img{
    width: 30vw; 
}

/* service */
.service_para{
    font-size: 1.1vw;
    width: 100%;
    text-align: justify;
}

.container-1 {
    position: relative;
    width: 15vw;
    height: 18vw;
    overflow: hidden;
  }
  
  .image {
    display: block;
    width: 15vw;
    height: 18vw !important;
    overflow: hidden;
    transition: .4s;
  }
  
  .overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: #2b2b2b73;
overflow: hidden;
width: 100%;
height: 100%;
transition: .8s ease;
}

.container-1:hover .overlay {
height: 25%;
}
 .container-1:hover .image{
  transform: scale(1.4);
  transition: .4s;
 } 
  .text {
    color: white;
    font-size: 1.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* Scrapes */
  .scrapes_para{
    font-size: 1vw;
    text-align: justify;
  }


  /* contact */
  .contact_background{
    background:url(../images/phoneContact.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scrapes_head{
    color: #fff;
    font-size: 2.5vw;
    font-weight: 900;
  }
  .scrapes_para{
    font-size: 1vw;
    color: black;
  }
  .contact_para{
    font-size: 1.5vw;
    color: white;
  }
  .contact_form{
    background-color: white;
    width: 35vw;
  }
  .scrapes_img{
    width: 24vw;
    height: 24.5vw;
  }
  input{
    border: none !important;
    outline:none !important;
    background: transparent;
    border-bottom: 1px solid black !important;
    font-size: 1.2vw !important;
  }
  textarea{
    border: none !important;
    outline:none !important;
    background: rgba(192, 192, 192, 0.164) !important;
    font-size: 1.2vw !important;
    min-height: 15vh;
  }
  .btn-success{
    background-color: #D9AF2B;
    border: none !important;
    outline: none;
   padding: 1rem 3rem;
   color: #050708;
  }
  .btn-success:hover{
    background-color: #D9AF2B !important;
    border: none !important;
    outline: none;
   padding: 1rem 3rem;
   color: #050708 !important;
  }
  .bi{
    color: white;
    font-size: 1.2vw;
  }

  .btn_primary{
    background-color: transparent;
    border: none;
    width:23vw;
    padding: 20px;
    transition: .8s ease-in-out;
    border-radius: 12;
    margin-left: 1vw;
  }
  .btn_primary:hover{
    background-color: #C7A32F;

    transition: .5s ease-in-out;
  }
  .button_para{
    font-size: 0.9vw;
    margin-bottom: 0px;
    color: white;
    text-align: left;
  }
  .button_para:hover{
    font-size: 0.9vw;
    margin-bottom: 0px;
    color: white;
    text-decoration: none;
  }


/* footer */

.footer_background{
    background-color: #C7A32F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_background1{
    background-color:#C7A32F ;

  }
  .border_footer{
    border-bottom: 2px solid #fff;
  }
  footer{
    background-color: #710505;
  }
  .footer_link{
    color: #ffff;
    font-size: 0.8vw;
    cursor: pointer;
  }
  .link:hover{
    text-decoration: none;
  }
  .footer_link:hover{
    color: #fff;
    font-size: 0.8vw;
    text-decoration: none;
  }
  .footer_head{
    color: white;
    font-size: 1.5vw;
    font-weight: 700;
  }




  .dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    width: 20.2vw;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .7s;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #710505;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid #C20102;
  }
  
  .dropdown-content a {
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #710505}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #710505;
    border: 2px solid #c40000;
    transition: .7s;
  }
  .mobile_container{
    display: none;
  }



  .location_finder{
    background: #FFFFFF;
    border-radius: 6px;
    width: 30.15vw;
    height:4.6vw ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 2vw;
}
.select_service{
    width:10vw ;
    text-align: center;
    font-size: 1vw;
    font-family: var(--poppins);
    color: #9E9E9E;
    font-weight: 500;
    padding: 10px;
    border: none;
    outline: none;
   
}
.btn_locator{
    background: #D9AF2B;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    border-radius: 6px;
    padding: 10px;
    width: 10vw;
    border: none;
    outline: none;
    font-family: var(--poppins);
    border-bottom: 0px solid black !important;
    font-weight: 400;
    font-size: 1vw !important;
    font-family: 'Lato', sans-serif !important;
    color: #050708;
}
.border_right{
    border-right: 2px solid #9E9E9E;
}
.border_right p{
    visibility: hidden;
}
.blue_contact_services{
    background-color:#0965AF ;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 24px;
    width: 40vw;
    min-height: 48vw;
    display: flex;
    top:-12vw;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
}

.mobile_container{
    display: none;
}

input:focus{
    border: none ;
    outline: none;
}
.map{
    width: 230vw !important;
    height: 15vw;
    margin-left: 1vw;
}
/* tab resolution */

@media only screen and (max-width:990px) {
       /* mobile Navbar */

       .carousel_items_img{
        margin-top: 0px;
       }
       .map{
        width: 50vw !important;
        height: 35vw;
    }
.navbar{
    display: none !important;
}
   .mobile_container{
    display: block;
}
.first_home_names{
    font-size: 2vw;
}
.hidden_product{
    display: none;
}

.mobile_container .header_mobile {
	position: fixed !important;
	display: block;
	top: 0;
	left: 0;
    overflow-x: hidden !important;
    z-index: 999;
}
.content {
	padding: 40px 5% 20px;
	text-align: justify;
	max-height: 100%;
	color: #333;
	overflow-y: scroll;
}
.content img {
	width: 100%;
	position: relative;
	display: block;
	margin: 40px auto 30px;
}

.about_para{
    font-size: 2vw;


}
/* End container/placeholder */

/* Menu header_mobile */
.header_mobile {
	background: #fff;
	overflow: hidden !important;
	height: 15vh;
	width: 100%;
	z-index: 1;
	position: fixed !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
	transition: all 0.4s ease-out, background 1s ease-out;
}
.header_mobile.menu-open {
	height: 100%;
    background: rgba(0, 0, 0, 0.753);
	transition: all 0.45s ease-out, background 0.8s ease-out;
}

/* Menu List items */
.mobile-menu {
	clear: both;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
}
.header_mobile ul.menu {
	position: relative;
    margin-bottom: 20vw;
	padding: 0px 40px 0;
	list-style: none;
   

}

.header_mobile ul.menu li.menu-item a {
	display: block;
	position: relative;
	color: #D9AF2B;
    text-align: right;
	text-decoration: none;
	font-size: 4vw;
	line-height: 2.8;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
}
.header_mobile ul.menu li.menu-item {
   
	margin-top: 5px;
	opacity: 0;
	transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.header_mobile ul.menu li.menu-item:nth-child(1) {
	transition-delay: 0.35s;
}
.header_mobile ul.menu li.menu-item:nth-child(2) {
	transition-delay: 0.3s;
}
.header_mobile ul.menu li.menu-item:nth-child(3) {
	transition-delay: 0.25s;
}
.header_mobile ul.menu li.menu-item:nth-child(4) {
	transition-delay: 0.2s;
}
.header_mobile ul.menu li.menu-item:nth-child(5) {
	transition-delay: 0.15s;
}
.header_mobile ul.menu li.menu-item:nth-child(6) {
	transition-delay: 0.1s;
}
.header_mobile ul.menu li.menu-item:nth-child(7) {
	transition-delay: 0.05s;
}
.header_mobile.menu-open ul.menu li.menu-item {
	opacity: 1;
}
.header_mobile.menu-open ul.menu li.menu-item:nth-child(1) {
	transition-delay: 0.05s;
}
.header_mobile.menu-open ul.menu li.menu-item:nth-child(2) {
	transition-delay: 0.1s;
}
.header_mobile.menu-open ul.menu li.menu-item:nth-child(3) {
	transition-delay: 0.15s;
}
.header_mobile.menu-open ul.menu li.menu-item:nth-child(4) {
	transition-delay: 0.2s;
}
.header_mobile.menu-open ul.menu li.menu-item:nth-child(5) {
	transition-delay: 0.25s;
}
.header_mobile.menu-open ul.menu li.menu-item:nth-child(6) {
	transition-delay: 0.3s;
}
.header_mobile.menu-open ul.menu li.menu-item:nth-child(7) {
	transition-delay: 0.35s;
}
.hamburger{
    width: 7vw;
}

/* Menu Icon */
.icon-container {
	position: relative;
	display: flex;
    justify-content: space-between;
    align-items: center;
	z-index: 2;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.icon-container #menuicon {
	width: 20px;
	height: 10px;
	position: relative;
	display: block;
	margin: -4px auto 0;
	top: 50%;
}
.closed{
    display: none;
}
#menuicon .bar {
	width: 100%;
	height: 1px;
	display: block;
	position: relative;
	background: #fff;
	transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.hamburger{
    width: 5vw;
}
#menuicon .bar.bar1 {
	-webkit-transform: translateY(0px) rotate(0deg);
	transform: translateY(0px) rotate(0deg);
}
#menuicon .bar.bar2 {
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
#menuicon .bar.bar3 {
	-webkit-transform: translateY(12px) rotate(0deg);
	transform: translateY(12px) rotate(0deg);
}
.menu-open  .closed{
	display: block;
    width: 6vw;
    float: right;
}
.menu-open .icon-container .hamburger{
	display: none;
}
.menu-open .icon-container .logo{
	display: none !important;
}
.menu-open .icon-container #menuicon .bar {
	transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transition-delay: 0.1s;
}
.menu-open .icon-container #menuicon .bar.bar1 {
	-webkit-transform: translateY(4px) rotate(45deg);
	transform: translateY(4px) rotate(45deg);
}
.menu-open .icon-container #menuicon .bar.bar2 {
	-webkit-transform: translateY(3px) rotate(-45deg);
	transform: translateY(3px) rotate(-45deg);
}
.mobile_pallete{
    height: 15vh;
}
.navbar{
    display: none;
}
.logo{
    width: 13vw !important;
  }
.carousel_para{
    font-size: 4.8vw;
    width: 90%;
    left: -10%;
}
.about_head{
    font-size: 5vw;
}
.about_para, .scrapes_para, .service_para{
    font-size: 2.5vw;
}
.about_img {
    margin-top: 3vh;
    width: 30vw;
    height: 30vw;
}
.why_img{
    width: 90vw;
}
.scrapes_img{
    margin-top: 3vh;
    width: 50vw;
    height: 50vw;
}
.image{
width: 35vw;
height: 50vw !important;
}
.container-1{
    width: 35vw;
    height: 50vw !important; 
}
.text{
    font-size: 2.5vw;
}
.scrapes_head{
    font-size: 5vw;
    text-align: center;
}
.contact_para{
    text-align: center;
    font-size: 2.5vw;
}
.contact_background{
    min-height: 180vh;
}
.btn_primary{
    width: 50vw;
    font-size: 4vw;
    margin: 0 auto;
    background-color: #C7A32F;
}
.btn_primary:hover{
    width: 50vw;
    font-size: 4vw;
    margin: 0 auto;
    background-color: #C7A32F;
}
.bi{
    font-size: 3.5vw;
}
.button_para{
    font-size: 2vw;
}
.button_para:hover{
    font-size: 2vw;
}
.location_finder{
    width: 50vw;
    height: 10vw;
}
.select_service{
    font-size: 2vw;
    width: 15vw;
}
.btn_locator{
    width: 18vw;
    font-size: 2vw !important;
}
.contact_form{
    margin: 0 auto;
    width: 60vw;
}
input{
    font-size: 2.3vw !important;
}
textarea{
    font-size: 2.3vw !important;
}
.logo1{
    width: 13vw !important;
}
.footer_head{
    text-align: center;
    font-size: 3vw;
}
.footer_link{
    text-align: center;
    font-size: 2vw;
}
.container-1:hover .overlay {
    height: 100%;
    }
    .techi{
        background: #FFEBBD;
        padding: 20px;
    }
    .part_images{
        width: 15.33vw !important;
    }
    .parts_head{
        font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 2.8vw !important;
    text-align: center;
    text-transform: uppercase;
    color: #1E1E1E;
    }
    .parts_para{
        font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw !important;
    text-align: center;
    color: #1E1E1E;
    }
}


/* phone resolution */

@media only screen and (max-width:600px){
    .logo{
        width: 18vw !important;
    }
    .hamburger{
        width: 10vw;
    }
    .header_mobile ul.menu li.menu-item a{
        font-size: 7vw;
    }
    .closed{
        width: 10vw !important;
    }
    .about_para, .scrapes_para{
        font-size: 3vw;
    }
    .about_img{
        width: 45vw;
        height: 45vw;
    }
    .about_head{
        font-size: 7vw;
    }
    .text{
        font-size: 4vw;
    }
    .scrapes_img{
        width: 100%;
        height: 100%;
    }
    .scrapes_head{
        font-size: 7vw;
    }
    .contact_para{
        font-size: 3vw;
    }
    .btn_primary{
        width: 70vw;
    }
    .btn_primary:hover{
        width: 70vw;
    }
    .bi{
        width: 5vw;
    }
    .button_para:hover{
        font-size: 2.5vw;
    }
    .button_para{
        font-size: 2.5vw;
    }
    .location_finder{
        width: 80vw;
        height: 18vw;
    }
    .select_service{
        width: 27vw;
        font-size: 4vw;
    }
    .btn_locator{
        width: 25vw;
        font-size: 3vw !important;
    }
    .contact_form{
        width: 80vw;
    }
    input{
        font-size: 3vw !important;
    }
    .first_home_names{
        font-size: 2.5vw;
    }
    .contact_background{
        min-height: 160vh;
    }
    .logo1{
        width: 25vw !important;
    }
    .footer_head{
        font-size: 5vw;
    }
    .footer_link, .footer_link:hover{
        font-size: 3vw;
    }
    .loop_background{
        left: 25%;
    }
    .map{
        width: 70vw !important;
        height: 35vw;
    }


    .techi{
        background: #FFEBBD;
        padding: 20px;
    }
    .part_images{
        width: 26.33vw !important;
    }
    .parts_head{
        font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 4.8vw !important;
    text-align: center;
    text-transform: uppercase;
    color: #1E1E1E;
    }
    .parts_para{
        font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw !important;
    text-align: center;
    color: #1E1E1E;
    }
}

.techi{
    background: #FFEBBD;
    padding: 20px;
}
.part_images{
    width: 8.33vw;
}
.parts_head{
    font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 1.30vw;
text-align: center;
text-transform: uppercase;
color: #1E1E1E;
}
.parts_para{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1.14vw;
text-align: center;
color: #1E1E1E;
}